* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.head-group {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 70px;
}
.nav {
  display: flex;
}
.nav-list {
  margin: auto 30px;
  line-height: 70px;
  list-style: none;
  color: #fafafa;
  font-size: 16px;
}
#mv {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fafafa;
  background-image: url(img/mv.png);
  background-size: contain;
  background-position: center;
}
.mv-title {
  padding-top: 200px;
  font-size: 64px;
}
.mv-text {
  font-size: 20px;
  padding-top: 10px;
}
#portfolio {
  width: 100%;
  background-color: #eceff1;
}
.heading {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000;
}
.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}
.heading-text {
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
  color: #000;
}
.p-group {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.box {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}
.p-image:nth-child(3n) {
  margin-right: 0;
}
.p-image:nth-child(-n + 3) {
  margin-top: 0;
}
.p-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
}
.p-image:nth-child(2) {
  background-image: url(img/websuku.png);
}
.p-image:nth-child(3) {
  background-image: url(img/write.jpg);
}
.p-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.p-image:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.p-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}
#feature {
  width: 100%;
}
.f-group {
  display: flex;
  text-align: center;
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.f-box {
  width: 320px;
  height: auto;
}
.f-text {
  text-align: left;
  margin: 10px 10px 0 0;
}
i {
  font-size: 60px;
}
